// Grid 栅格系统样式
// 24 栅格系统

@use 'sass:math';

// 断点定义
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

$grid-columns: 24;

// Row 样式
.apron-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;

  // justify 对齐
  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-space-around {
    justify-content: space-around;
  }

  &--justify-space-between {
    justify-content: space-between;
  }

  &--justify-space-evenly {
    justify-content: space-evenly;
  }

  // align 对齐
  &--align-top {
    align-items: flex-start;
  }

  &--align-middle {
    align-items: center;
  }

  &--align-bottom {
    align-items: flex-end;
  }

  &--align-stretch {
    align-items: stretch;
  }

  // 不换行
  &--no-wrap {
    flex-wrap: nowrap;
  }
}

// Col 基础样式
.apron-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

// 生成栅格类
@mixin make-grid-columns($breakpoint: '') {
  $prefix: if($breakpoint == '', 'apron-col', 'apron-col-#{$breakpoint}');

  @for $i from 0 through $grid-columns {
    // span
    .#{$prefix}-#{$i} {
      @if $i == 0 {
        display: none;
      } @else {
        display: block;
        flex: 0 0 math.percentage(math.div($i, $grid-columns));
        max-width: math.percentage(math.div($i, $grid-columns));
      }
    }

    // offset
    .#{$prefix}-offset-#{$i} {
      margin-left: math.percentage(math.div($i, $grid-columns));
    }

    // order
    .#{$prefix}-order-#{$i} {
      order: $i;
    }

    // push
    .#{$prefix}-push-#{$i} {
      @if $i == 0 {
        left: auto;
      } @else {
        left: math.percentage(math.div($i, $grid-columns));
      }
    }

    // pull
    .#{$prefix}-pull-#{$i} {
      @if $i == 0 {
        right: auto;
      } @else {
        right: math.percentage(math.div($i, $grid-columns));
      }
    }
  }
}

// 生成默认栅格（无断点）
@include make-grid-columns();

// 生成响应式栅格
@each $breakpoint, $min-width in $grid-breakpoints {
  @if $min-width == 0 {
    @include make-grid-columns($breakpoint);
  } @else {
    @media (min-width: $min-width) {
      @include make-grid-columns($breakpoint);
    }
  }
}

